<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicketframework.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
<wicket:panel>
<h2>Results</h2>

<div class="trackback">
	<a wicket:id="trackback">Link to this search</a>
</div>

<div class="stats" wicket:id="stats">Showing 1-10 of 850</div>

<a wicket:id="hits">
	<h3 wicket:id="title">[Title]</h3>
	<div wicket:id="summary">
	</div>
	<span wicket:id="linkLabel">http://someurl/</span>
</a>

<ul class="paging">
	<li wicket:id="pages"><a wicket:id="pageLink"><span wicket:id="pageLabel">[1-10]</span></a></li>
</ul>

<br /><br /><br />

</wicket:panel>
</body>
</html>